<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="temp">
        <div class="text-center">
          <h3 class="strong">Admin Log in</h3>
        </div>
        <!-- login formu -->
        <form [formGroup]="loginForm" (ngSubmit)="loginUp()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input formControlName="username" autocomplete="off" type="text" class="form-control" id="username">
            <!-- input içerisi hata yakalama işlemi -->
            <span class="error"
            *ngIf="loginForm.get('username') && !loginForm.get('username')!.valid && loginForm.get('username')!.touched"
            >Username is required</span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" autocomplete="off" type="password" class="form-control" id="psw">
            <!-- input içerisi hata yakalama işlemi -->
            <span class="error"
            *ngIf="loginForm.get('password') && !loginForm.get('password')!.valid && loginForm.get('password')!.touched"
            >Password is required</span>
          </div>

          <button type="submit" class="btn btn-primary">Log in</button>
          <a routerLink="/main" style="cursor:pointer;">Go to the main page.</a>

        </form>
      </div>
    </div>
  </div>
</div>
