<div class="text-center mt-3 mb-3">
  <button class="btn btn-primary" (click)="newProduct()"> Add New Product </button>
</div>
<table class="table table-hover ">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of getProducts()">
      <td><img style="max-width: 120px;" src="{{product.image}}" alt=""></td>
      <td style="max-width: 120px;">{{product.title}}</td>
      <td  style="max-width: 300px;">{{product.description}}</td>
      <td style="max-width: 120;">{{product.price}}<li class="fas fa-turkish-lira-sign ps-1"></li></td>
      <td>
        <button class="btn btn-danger me-1" (click)="deleteProduct(product)"><i class="fas fa-trash-alt"></i></button>
        <button class="btn btn-warning" (click)="edit(product.id)" ><i class="fa-solid fa-pen-to-square"></i></button>
      </td>
    </tr>
  </tbody>
</table>

